.godot/editor/editor_layout.cfg
.godot/editor/quick_open_dialog_cache.cfg
.godot/mono/temp/bin/Debug/2DSurvivor.dll
.godot/mono/temp/bin/Debug/2DSurvivor.pdb
.godot/mono/temp/obj/Debug/2DSurvivor.AssemblyInfo.cs
.godot/mono/temp/obj/Debug/2DSurvivor.AssemblyInfoInputs.cache
.godot/mono/temp/obj/Debug/2DSurvivor.csproj.FileListAbsolute.txt
.godot/mono/temp/obj/Debug/2DSurvivor.dll
.godot/mono/temp/obj/Debug/2DSurvivor.pdb
.godot/mono/temp/obj/Debug/2DSurvivor.sourcelink.json
.godot/mono/temp/obj/Debug/ref/2DSurvivor.dll
.godot/mono/temp/obj/Debug/refint/2DSurvivor.dll
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_update4
.godot/editor/project_metadata.cfg
.godot/editor/quick_open_dialog_cache.cfg
.godot/mono/temp/bin/Debug/2DSurvivor.dll
.godot/mono/temp/bin/Debug/2DSurvivor.pdb
.godot/mono/temp/obj/Debug/2DSurvivor.AssemblyInfo.cs
.godot/mono/temp/obj/Debug/2DSurvivor.AssemblyInfoInputs.cache
.godot/mono/temp/obj/Debug/2DSurvivor.dll
.godot/mono/temp/obj/Debug/2DSurvivor.pdb
.godot/mono/temp/obj/Debug/ref/2DSurvivor.dll
.godot/mono/temp/obj/Debug/refint/2DSurvivor.dll
.godot/mono/temp/obj/Debug/2DSurvivor.GeneratedMSBuildEditorConfig.editorconfig
.godot/mono/temp/obj/Debug/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
.godot/scene_groups_cache.cfg
.godot/editor/basic_enemy.tscn-editstate-597a77199f5e526c8ed969b6c6b42205.cfg
.godot/editor/basic_enemy.tscn-folding-597a77199f5e526c8ed969b6c6b42205.cfg
.godot/editor/create_recent.Node
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_update4
.godot/editor/game_camera.tscn-editstate-74d9864af2f3de0db50cdca19e68886b.cfg
.godot/editor/game_camera.tscn-folding-74d9864af2f3de0db50cdca19e68886b.cfg
.godot/editor/main.tscn-editstate-f39996a6d27a38698d16421ab974097b.cfg
.godot/editor/main.tscn-folding-f39996a6d27a38698d16421ab974097b.cfg
.godot/editor/player.tscn-editstate-f0f47979a156d2f556ebd3a77a2a0816.cfg
.godot/editor/player.tscn-folding-f0f47979a156d2f556ebd3a77a2a0816.cfg
.godot/editor/project_metadata.cfg
.godot/editor/quick_open_dialog_cache.cfg
.godot/editor/vial_drop_component.tscn-editstate-648276270efe66490f5076bd563f1327.cfg
.godot/editor/vial_drop_component.tscn-folding-648276270efe66490f5076bd563f1327.cfg
.godot/mono/temp/bin/Debug/GodotSharp.dll
.godot/mono/temp/bin/Debug/GodotSharpEditor.dll
.godot/mono/temp/obj/project.nuget.cache
.godot/mono/temp/obj/Debug/2DSurvivor.assets.cache
.godot/mono/temp/obj/Debug/2DSurvivor.csproj.AssemblyReference.cache
.godot/mono/temp/obj/Debug/2DSurvivor.csproj.CoreCompileInputs.cache
.godot/mono/temp/obj/Debug/2DSurvivor.csproj.Up2Date
.godot/mono/temp/obj/Debug/2DSurvivor.genruntimeconfig.cache
