.godot/editor/editor_layout.cfg
.godot/editor/quick_open_dialog_cache.cfg
.godot/mono/temp/bin/Debug/2DSurvivor.dll
.godot/mono/temp/bin/Debug/2DSurvivor.pdb
.godot/mono/temp/obj/Debug/2DSurvivor.AssemblyInfo.cs
.godot/mono/temp/obj/Debug/2DSurvivor.AssemblyInfoInputs.cache
.godot/mono/temp/obj/Debug/2DSurvivor.csproj.FileListAbsolute.txt
.godot/mono/temp/obj/Debug/2DSurvivor.dll
.godot/mono/temp/obj/Debug/2DSurvivor.pdb
.godot/mono/temp/obj/Debug/2DSurvivor.sourcelink.json
.godot/mono/temp/obj/Debug/ref/2DSurvivor.dll
.godot/mono/temp/obj/Debug/refint/2DSurvivor.dll
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_update4
.godot/editor/project_metadata.cfg
.godot/editor/quick_open_dialog_cache.cfg
.godot/mono/temp/bin/Debug/2DSurvivor.dll
.godot/mono/temp/bin/Debug/2DSurvivor.pdb
.godot/mono/temp/obj/Debug/2DSurvivor.AssemblyInfo.cs
.godot/mono/temp/obj/Debug/2DSurvivor.AssemblyInfoInputs.cache
.godot/mono/temp/obj/Debug/2DSurvivor.dll
.godot/mono/temp/obj/Debug/2DSurvivor.pdb
.godot/mono/temp/obj/Debug/ref/2DSurvivor.dll
.godot/mono/temp/obj/Debug/refint/2DSurvivor.dll
